.dark {
    --background: #1f1f1f;
}

.white {
    --color: #fff;
}

.textCenter {
    text-align: center;
}

.bigIcon {
    font-size: 64px;
}

.middleIcon {
    font-size: 32px;
}

ion-item {
    --background: #1e1e1e;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ion-list {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0070c0;
}

h2,
h3 {
    color: white;
}

p {
    color: #99a3ab;
}

ion-content {
    --background: #0070c0;
}

ion-icon {
    color: white;
}
