<ion-header>
  <ion-toolbar class="dark">
    <ion-title class="white">Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="blue" [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Insira o seu email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-input placeholder="Insira a sua senha" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-button class="buttonSubmit" shape="round" expand="block" (click)="login()">
        Entrar
      </ion-button>
    </ion-grid>
    <ion-grid>
      <ion-button class="buttonSecondary" shape="round" expand="block" fill="outline" (click)="redirectToRegister()">
        Ainda não tenho cadastro
      </ion-button>
    </ion-grid>
  </div>
</ion-content>